<div class="page-header">
  <h1><%= @item.name_of_item %> <small><%= @category.category_name %></small></h1>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag @item.avatar.url(:medium) %>
      <div class="caption">
        <h3>Price: <%= @item.price %></h3>
        <h4>Quality: <%= @item.quality %></h4>
        <p>Description: <%= @item.description %></p>
        <p><a href="<%= category_items_path(@category.id) %>" class="btn btn-primary" role="button">Back</a></p>
      </div>
    </div>
  </div>
</div>
