<h1 class="page-header text-center">Cladvertisements</h1>
<a class="btn btn-lg btn-success pull-right" href="<%= new_category_path %>">
  <span class="glyphicon glyphicon-plus"></span>
</a>
<p class="lead">The most popular classifides app on the web!</p>
  <% @categories.each do |category| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail category text-center">
      <%= image_tag category.general_img.url(:medium) %>
      <div class="caption bottom-aligned-text">
        <h3><%= link_to(category.category_name, category_items_path(category.id)) %></h3>
        <p><a href="<%= edit_category_path(category.id) %>" class="btn btn-primary" role="button">Edit</a> <a href="<%= category_path(category.id) %>" data-method="delete" class="btn btn-default" role="button">Delete</a></p>
      </div>
    </div>
  </div>
<% end %>
